# Add this in for tox, comment out for build
--extra-index-url https://download.pytorch.org/whl/cu124
horde_sdk>=0.15.0
horde_model_reference>=0.9.1
pydantic
numpy==2.1.1
torch>=2.4.1
# xformers>=0.0.19
torchvision
# torchaudio
torchdiffeq
torchsde
einops
open-clip-torch
transformers>=4.28.1
tokenizers>=0.13.3
sentencepiece
safetensors>=0.4.2
pytorch_lightning
pynvml
aiohttp
accelerate
pyyaml
pillow
loguru
GitPython
clip-anytorch
diffusers>=0.25.0
omegaconf
psutil
typing-extensions
distro
python-dotenv
strenum
rembg
# image similarity + face fixer custom nodes
opencv-python
# controlnet custom nodes
opencv-contrib-python
opencv-python
timm==1.0.9
torchvision
scipy
addict
fairscale
scikit-image
mediapipe>=0.9.1.0
unidecode
fuzzywuzzy
strenum
kornia
qrcode==8.0
spandrel
spandrel_extra_arches
lpips
