pytest==7.4.4
mypy==1.8.0
black==23.12.1
ruff==0.1.11
tox~=4.11.4
pre-commit~=3.6.0
build>=0.10.0
coverage>=7.2.7

types-colorama
types-docutils
types-Pillow
types-psutil
types-Pygments
types-pywin32
types-PyYAML
types-regex
types-requests
types-setuptools
types-tabulate
types-tqdm
types-urllib3

pytest-cov
