pytest==8.2.2
mypy==1.10.0
black==24.4.2
ruff==0.4.8
tox~=4.15.1
pre-commit~=3.7.1
build>=0.10.0
coverage>=7.2.7

types-colorama
types-docutils
types-Pillow
types-psutil
types-Pygments
types-pywin32
types-PyYAML
types-regex
types-requests
types-setuptools
types-tabulate
types-tqdm
types-urllib3

pytest-cov
