name: Tests

on:
  push:
    branches:
      - main
    paths:
      - '**.py'
      - '**.json'
jobs:
  build:

    runs-on: self-hosted
    env:
      HORDELIB_TESTING: "no-cuda"
    strategy:
      matrix:
        python: ["3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install tox and any other packages
        run: pip install --upgrade -r requirements.dev.txt
      - name: Run tox
        run: tox -e tests
      - name: Run a direct run test
        run: python -m tests.run_upscale
      - name: Create CI webpage of results
        run: python -m tests.make_index
      - name: Upload to S3
        uses: shallwefootball/s3-upload-action@master
        id: S3
        with:
          aws_key_id: ${{secrets.S3_BUILD_ARTIFACTS_ACCESS_KEY_ID}}
          aws_secret_access_key: ${{secrets.S3_BUILD_ARTIFACTS_SECRET_ACCESS_KEY}}
          aws_bucket: hordelib
          source_dir: images/
          destination_dir: ''
