name: Unstable Tests

on:
  pull_request_target:
    branches:
      - main
    types:
      - opened
      - synchronize
    paths:
      - '**.py'
      - '**.json'
      - 'tox.ini'
      - '.github/workflows/maintests.yml'
      - '.github/workflows/prtests.yml'
      - '.github/workflows/release.yml' 
jobs:
  build:

    runs-on: self-hosted
    env:
      HORDELIB_TESTING: "no-cuda"
    strategy:
      matrix:
        python: ["3.10"]

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install tox and any other packages
        run: pip install --upgrade -r requirements.dev.txt
      - name: Run format check
        run: tox -e format
      - name: Run lint check
        run: tox -e lint-weak-check
      - name: Check build_helper.py hordelib imports have no breaking dependency changes
        run: tox -e test-build-helper
      - name: Run unit tests
        run: tox -e tests
      - name: Run a direct run test
        run: python -m examples.run_upscale
      - name: Create CI webpage of results
        run: python -m tests.make_index
      - name: Upload to S3
        uses: shallwefootball/s3-upload-action@master
        id: S3
        with:
          aws_key_id: ${{secrets.S3_BUILD_ARTIFACTS_ACCESS_KEY_ID}}
          aws_secret_access_key: ${{secrets.S3_BUILD_ARTIFACTS_SECRET_ACCESS_KEY}}
          aws_bucket: hordelib
          source_dir: images/
          destination_dir: 'unstable/'
