name: Test Runner

on: [push, , pull_request]

jobs:
  build:

    runs-on: self-hosted
    env:
      HORDELIB_TESTING: "no-cuda"
    strategy:
      matrix:
        python: ["3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install tox and any other packages
        run: pip install tox
      - name: Run tox
        # Don't run test until we can get a test runner with CUDA
        run: tox -e tests
